<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Emergency Compliments</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="js/compliments/compliments.controller.js" type="text/javascript"></script>
</head>
<body style="background-color:<%= @color %>">
<%= yield %>
</body>
</html>