<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Emergency Compliments</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body style="background-color:<%= @color %>">
<%= yield %>
</body>
</html>
